@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    background-color: antiquewhite;
  }

h1{
    font-size: 2.5em;
    text-align: center;
    text-decoration: underline;
}

#center{
    
    border-radius: 20px;
    padding: 10px 30px;
    border: 2px solid lightgray;
    background-color: white;
}

#submit-button{
    border: 2px solid rgb(105, 197, 255);
    border-radius: 5px;
    background-color: rgb(227, 248, 255);
    color: rgb(105, 197, 255);
    text-align: center;
    padding: 5px;
  }
  
#submit-button:hover{
    background-color: rgb(23, 55, 66);
    cursor: pointer;
    color: rgb(255, 255, 255);

    text-shadow: 0 0 2px rgb(255, 255, 255);

    font-weight: bold;
}

.remove-button
{
    opacity: 0.35;

    display: flex;
    flex-grow: 1;

    cursor: pointer;
    min-width: 25px;
    max-width: 25px;

    text-align: center;
    justify-content: center;


    margin-left: 5px;
    border: 2px solid rgb(66, 15, 26);
    border-radius: 5px;
    background-color: rgb(187, 41, 41);
    color: rgb(255, 255, 255);
    font-weight: bold;
    
    padding: 2px;
}

.remove-button:hover{
    opacity: 1;
}

  #task-form{
    text-align: center;
  }

  input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
  }

  #tasks {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .task-label{
    display: flex;
    flex-grow: 2;
  }

  .task-item {
    display: flex;
    align-items: center;
    width: auto;
    margin-bottom: 10px;
  }

  :checked + label {
    text-decoration: line-through;
    color: grey;
  }